<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ciao</p>
    <p><a href="./menuVisualizzazione.html">visualizza un contatto</a></p>
    <p><a href="./menuModifica.html">modifica un contatto</a></p>
    <p><a href="./menuInserimento.html">inserisci un contatto</a></p>
    <p><a href="./menuRimozione.html">rimuovi un contatto</a></p>
    <p><a href="./menuEsportazione.html">esporta una lista di contatti</a></p>
</body>
</html>