<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ciao</p>
    <p><a href="./menuAutore.html">Per gestire gli autori</a></p>
    <p><a href="./menuEditore.html">Per gestire gli editori</a></p>
    <p><a href="./menuLibro.html">Per gestire i libri</a></p>
    <p><a href="./menuPrestito.html">Per gestire i prestiti</a></p>
    <p><a href="./menuUtente.html">Per gestire gli utenti</a></p>
</body>
</html>