<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento</title>
</head>
<body>
    <p>Per inserire un editore compila i campi</p>
    <form action="./BibliotecaEditoreInserimentoServlet" method="POST" target="_blank">
        DENOMINAZIONE&nbsp;<input type="text" name="denominazione" value="" placeholder="denominazione"/><br/>
        DESCRIZIONE&nbsp;<input type="text" name="descrizione" value="" placeholder="descrizione"/><br/>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>