<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento</title>
</head>
<body>
    <p>Per inserire un autore compila i campi</p>
    <form action="./BibliotecaAutoreInserimentoServlet" method="POST" target="_blank">
        NOME&nbsp;<input type="text" name="nome" value="" placeholder="nome"/><br/>
        COGNOME&nbsp;<input type="text" name="cognome" value="" placeholder="cognome"/><br/>
        DATA_NASCITA&nbsp;<input type="text" name="data_nascita" value="" placeholder="YYYY-MM-DD"/><br/>
        DATA_MORTE&nbsp;<input type="text" name="data_morte" value="" placeholder="YYYY-MM-DD"/><br/>
        BIOGRAFIA&nbsp;<input type="text" name="biografia" value="" placeholder="biografia"/><br/>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>