<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserimento</title>
</head>
<body>
    <p>Per inserire un utente compila i campi</p>
    <form action="./BibliotecaUtenteInserimentoServlet" method="POST" target="_blank">
        NOME&nbsp;<input type="text" name="nome" value="" placeholder="nome"/><br/>
        COGNOME&nbsp;<input type="text" name="cognome" value="" placeholder="cognome"/><br/>
        CODICE_FISCALE&nbsp;<input type="text" name="codice_fiscale" value="" placeholder="codice_fiscale"/><br/>
        EMAIL&nbsp;<input type="text" name="email" value="" placeholder="email"/><br/>
        TELEFONO&nbsp;<input type="text" name="telefono" value="" placeholder="telefono"/><br/>
        INDIRIZZO&nbsp;<input type="text" name="indirizzo" value="" placeholder="indirizzo"/><br/>
        PASSWORD&nbsp;<input type="text" name="password" value="" placeholder="password"/><br/>
        ADMIN&nbsp;<input type="text" name="admin" value="" placeholder="admin"/><br/>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>