<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica</title>
</head>
<body>
    <p>Per modificare un libro inserisci il suo id, il campo da modificare e il nuovo valore</p>
    <form action="./BibliotecaLibroModificaServlet" method="POST" target="_blank">
        ID&nbsp;<input type="text" name="id" value="" placeholder="id"/><br/>
        CAMPO&nbsp;<input type="text" name="campo" value="" placeholder="campo"/><br/>
        VALORE&nbsp;<input type="text" name="valore" value="" placeholder="valore"/><br/>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>