<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica</title>
</head>
<body>
    <p>Per modificare un autore inserisci il suo id, il campo da modificare e il nuovo valore</p>
    <form action="./BibliotecaAutoreModificaServlet" method="POST" target="_blank">
        ID&nbsp;<input type="text" name="id" value="" placeholder="id"/><br/>
        <input type="radio" id="nome" name="parametro" value="nome">
        <label for="nome">nome</label><br>
        <input type="radio" id="cognome" name="parametro" value="cognome">
        <label for="cognome">cognome</label><br>
        <input type="radio" id="data_nascita" name="parametro" value="data_nascita">
        <label for="data_nascita">data_nascita</label><br>
        <input type="radio" id="data_morte" name="parametro" value="data_morte">
        <label for="data_morte">data_morte</label><br>
        <input type="radio" id="biografia" name="parametro" value="biografia">
        <label for="biografia">biografia</label><br>
        VALORE&nbsp;<input type="text" name="valore" value="" placeholder="valore"/><br/>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>