<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca per parametro</title>
</head>
<body>
    <p>Per visualizzare una lista di editori in base alla stringa iniziale</p>
    <p>seleziona il parametro da controllare e inserisci la stringa</p>
    <form action="./BibliotecaEditoreVisualizzaParametroServlet" method="POST" target="_blank">
        <input type="radio" id="denominazione" name="parametro" value="denominazione">
        <label for="denominazione">denominazione</label><br>
        <input type="radio" id="descrizione" name="parametro" value="descrizione">
        <label for="descrizione">descrizione</label><br>
        STRINGA&nbsp;<input type="text" name="stringa" value="" placeholder="stringa iniziale"/><br>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>