<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca per parametro</title>
</head>
<body>
    <p>Per visualizzare una lista di autori in base alla stringa iniziale</p>
    <p>inserisci il parametro da controllare e la stringa</p>
    <form action="./BibliotecaAutoreVisualizzaParametroServlet" method="POST" target="_blank">
        <!-- PARAMETRO&nbsp;<input type="text" name="parametro" value="" placeholder="parametro"/><br/> -->
        <!-- <select id="parametro" name="parametro" size="3">
            <option value="nome">nome</option>
            <option value="cognome">cognome</option>
            <option value="data_nascita">data nascita</option>
            <option value="data_morte">data morte</option>
            <option value="biografia">biografia</option>
        </select> -->
        <input type="radio" id="nome" name="parametro" value="nome">
        <label for="nome">nome</label><br>
        <input type="radio" id="cognome" name="parametro" value="cognome">
        <label for="cognome">cognome</label><br>
        <input type="radio" id="data_nascita" name="parametro" value="data_nascita">
        <label for="data_nascita">data_nascita</label><br>
        <input type="radio" id="data_morte" name="parametro" value="data_morte">
        <label for="data_morte">data_morte</label><br>
        <input type="radio" id="biografia" name="parametro" value="biografia">
        <label for="biografia">biografia</label><br>
        STRINGA&nbsp;<input type="text" name="stringa" value="" placeholder="stringa iniziale"/><br>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>