<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca per parametro</title>
</head>
<body>
    <p>Per visualizzare una lista di libri in base alla stringa iniziale</p>
    <p>inserisci il parametro da controllare e la stringa</p>
    <form action="./BibliotecaLibroVisualizzaParametroServlet" method="POST" target="_blank">
        PARAMETRO&nbsp;<input type="text" name="parametro" value="" placeholder="parametro"/><br/>
        STRINGA&nbsp;<input type="text" name="stringa" value="" placeholder="stringa iniziale"/><br>
        <input type="submit" value="INVIO"/>
    </form>
</body>
</html>