body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
}

.small-center-container{
    background-color: white;

    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    padding-right: 10px;
    padding-left: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
    border-radius: 15px;
    text-align: center;

    -webkit-box-shadow: 9px 10px 28px -5px rgba(0,0,0,0.7);
    -moz-box-shadow: 9px 10px 28px -5px rgba(0,0,0,0.7);
    box-shadow: 9px 10px 28px -5px rgba(0,0,0,0.7);
}

.grid-buttons{
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 30px;
}

.button-rubrica{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button-rubrica:hover{
    background-color: #679df5;
    cursor: pointer;
}

.rubrica-form{
    display: block;
    padding-bottom: 30px;
    justify-items: center;
}

label{
    display: inline-block;
    width: 80px;
    text-align: right;
}
input {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
  height: 25px;
}

select{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 175px;
}

.single-input{
    margin: 5px;
}

.submit{
    margin-top: 15px;
}

.submit input{
    height: 50px;
    width: 200px;
    font-size: large;
    text-transform: uppercase;
    
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    transition-duration: 0.4s;  
}

.submit input:hover{
    background-color: #679df5;
    cursor: pointer;
}

.selector{
    display: inline-grid;
    margin-bottom: 15px;
}
.selector label{
    text-align: center;
    width: fit-content;
}

.home{
    background-color: lightcoral;
    border-radius: 50px;
    width: fit-content;
    padding: 7px;
}

.home:hover{
    background-color: red;
}

a{
    text-decoration: none;
    color: black;
}

.circles{
    position: fixed;
    z-index: -500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #008CBA;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}