body {
	margin-left: 10vw;
	margin-right: 10vw;
	display: grid;
}
#head {
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	grid-row: 1;
}
#search {
	display: block;
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 19em;
	margin-left: 27vw;
	grid-row: 2;
}
ul{
	display: block;
	position: relative;
	width: 33vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: block;
	float: left;
}
#search fieldset {
	text-align: right;
}
#search fieldset label {
	margin-right: 1em;
}
#search fieldset label,input {
	margin-top: 0px;
}
.fields {
	width: 19em;
}
#submit {
	margin-right: 6.4em;
}
#contacts {
	display: block;
	position: relative;
	text-align: center;
	grid-row: 3;
	margin-left: 15vw;
}
#contacts table {
	border-collapse: collapse;
}
#contacts table td,th {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}